h1 {
    display: flex;
    justify-content: center;
    /* color: black; */
}

/* p {
    display: flex;
    justify-content: center;
} */

/* .btn {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center; 
} */